<%- include('../components/head', { page: {title: 'Регистрация'} }) %>
<%- include('../components/navbar') %>
<main>
    <div class="container flex flex-col items-center justify-center mx-auto mt-20">
        <h1 class="text-2xl font-bold text-gray-900">Регистрация</h1>
        <form action="/auth/signup" method="post" class="flex flex-col gap-4 border p-8 pt-4 mt-4 rounded">
            <div>
                <div class="flex flex-col">
                    <% for (let error of errors.username) { %>
                        <p class="text-red-900 text-xs"><%= error %></p>
                    <% } %>
                </div>
                <label for="username" class="flex flex-col gap-1">
                    <p>Имя пользователя</p>
                    <input class="border rounded px-2 w-full" type="text" name="username" id="username" value="<%= prev.username %>">
                </label>
            </div>
            <div>
                <div class="flex flex-col">
                    <% for (let error of errors.email) { %>
                        <p class="text-red-900 text-xs"><%= error %></p>
                    <% } %>
                </div>
                <label for="email">
                    <p>Почта</p>
                    <input class="border rounded px-2 w-full" type="email" name="email" id="email" value="<%= prev.email %>">
                </label>
            </div>
            <div>
                <div class="flex flex-col">
                    <% for (let error of errors.password) { %>
                        <p class="text-red-900 text-xs"><%= error %></p>
                    <% } %>
                </div>
                <label for="password">
                    <p>Пароль</p>
                    <input class="border rounded px-2 w-full" type="password" name="password" id="password">
                </label>
            </div>
            <div>
                <div class="flex flex-col">
                    <% for (let error of errors.password_confirm) { %>
                        <p class="text-red-900 text-xs"><%= error %></p>
                    <% } %>
                </div>
                <label for="password_confirm">
                    <p>Подтвердите пароль</p>
                    <input class="border rounded px-2 w-full" type="password" name="password_confirm" id="password_confirm">
                </label>
            </div>
            <button type="submit" class="bg-gray-900 text-white py-1 rounded cursor-pointer">Зарегистрироваться</button>
        </form>
        <% for (let error of errors.general) { %>
            <p class="text-red-900"><%= error %></p>
        <% } %>
    </div>
</main>
<%- include('../components/footer') %>
